<!--
   #title           : live_tweets_history.ejs
   #description     : Tweets history
   #author		    : Aswin
   #email           : aswin1906@gmail.com
   #date            : 20190501
   #version         : 1.2
   -->
<!-- views/history/live_tweets_history.ejs -->
<!doctype html>
<html lang="en">
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Document title -->
    <title>TweetZoom 1.0</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework"/>
    <meta name="author" content="rustheme"/>
    <meta name="robots" content="noindex, nofollow"/>
    <!--    Starts Header Script-->
        <% include ../master_pages/header_script %>
        <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/jQuery-UI-Multiple-Select-Widget/jquery.multiselect.filter.css" >
        <link rel="stylesheet" href="/static/users_list.css">
    <!--    Ends Header Script-->
    <!-- End Stylesheets -->
    <style>
      a {
          color: #428bca;
          text-decoration: none;
      }
     a:visited {
          color: #005999;
      }
    </style>
    <script>
      var appSettings = <%- appSettings %>;
    </script>
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <img id="loading-indicator" name="Loader">
<div class="app-layout-canvas">
    <div class="app-layout-container">
        <!-- Drawer -->

        <!-- End drawer -->
        <!-- Header -->
            <% include ../master_pages/header %>
        <!-- End header -->
        <main class="app-layout-content" style="padding-left: 0px">
            <div id="content" style="margin-left:auto;margin-right:auto;width:50%">
            </div>
            <div class="row" id="loadMore" style="margin-left: auto;margin-right:auto;width:50%;padding-bottom: 63px;">
                <div class="col-md-12">
                    <button type="button" class="btn-twitter" style="width:100%;height: 44px;font-size: 11pt;font-weight: bold;" onclick="loadMoreItems(false, 0)"><i class="fa fa-spinner" aria-hidden="true"></i> Load more items <span class="pagingRatio"></span></button>
                </div>
            </div>
       </main>
    <!-- Footer -->
        <% include ../master_pages/footer %>
    <!-- End Footer -->
    <!-- .app-layout-container -->
</div>
<!-- .app-layout-canvas -->
<!-- Apps Modal -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>-->

<!-- Opens from the button in the header -->
    <% include ../modals/apps-modal %>


<!-- End Apps Modal -->
<div class="app-ui-mask-modal"></div>
<!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
<!-- <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script> -->
<!--    Starts Footer Script-->

    <% include ../master_pages/footer_script %>
    <script src="../static/js/app/dashboard/hashtag_cloud_tweets.js"></script>
<!--    Ends Footer Script-->

<!-- Page JS Plugins -->
</div>
</body>
</html>
