<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>Frontend - Home | AppUI</title>

        <meta name="description" content="AppUI - Frontend Template & UI Framework" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/static/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="/static/img/favicons/favicon.ico" />

		
		
        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- AppUI CSS stylesheets -->
		<link rel="stylesheet" href="/static/css/combined.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/css/printstyles.css" type="text/css" media="print">
        <link rel="stylesheet" id="c/static/ss-font-awesome" href="css/font-awesome.css" />
        <link rel="stylesheet" id="/static/css-ionicons" href="css/ionicons.css" />
        <link rel="stylesheet" id="/static/css-bootstrap" href="css/bootstrap.css" />
        <link rel="stylesheet" id="/static/css-app" href="css/app.css" />
        <link rel="stylesheet" id="/static/css-app-custom" href="css/app-custom.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <!-- Header logo -->
                                <a class="navbar-brand" href="javascript:void(0)">
                                    <img class="img-responsive" src="/static/img/logo/logo-frontend.png" title="AppUI" alt="AppUI" />
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                                <!-- Header search form -->
                               

                                <!-- Header navigation menu -->
                                <ul id="main-menu" class="nav navbar-nav navbar-left">

                                    <li class="active">
                                        <a href="frontend_home.html">Home</a>
                                    </li>

                                    <li>
                                        <a href="frontend_about.html">About</a>
                                    </li>

                                    <li>
                                        <a href="frontend_pricing.html">Pricing</a>
                                    </li>

                                    <li>
                                        <a href="frontend_team.html">Team</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown">Pages <span class="caret"></span></a>
                                        <ul class="dropdown-menu">

                                            <li>
                                                <a href="frontend_search.html">Search</a>
                                            </li>

                                            <li>
                                                <a href="frontend_support.html">Support</a>
                                            </li>

                                            <li>
                                                <a href="frontend_contact.html">Contact</a>
                                            </li>

                                            <li>
                                                <a href="frontend_login_signup.html">Login / Signup</a>
                                            </li>

                                            <li>
                                                <a href="frontend_400.html">Error 400</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
								 <!-- .navbar-left -->

                                <ul class="nav navbar-nav navbar-right navbar-toolbar hidden-sm hidden-xs">
                                    <li>
                                        <!-- Opens the modal found at the bottom of the page -->
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#apps-modal"><i class="ion-grid"></i></a>
                                    </li>
                                <!-- End header navigation menu -->
                            </div>
                        </div>
                        <!-- .container -->
                    </nav>
                    <!-- .navbar -->
					
                </header>
                <!-- End header -->

                <main class="app-layout-content">
	
    
  <!-- slide show  -->
  <figure class="banner bg-img bg-app bg-inverse" data-height="400">
					 <div id="hp_slides_wrapper" style="width: 1349px; top: 0px; bottom: 1001px; height: 401px;">
      <a class="hp_carousel_button" id="hp_slideshow_prev"></a>
 			<ul id="hp_slides_drawer" style="width: 4047px;">





<li style="width: 1349px; left: 0px;">
  <div class="hp_slide_bg"> <img src="/static/img/misc/Cloud-Based-Services.jpg"></div>
  <div class="hp_slide_content" style="margin-left: 194.5px; margin-right: 194.5px;">
     <div class="carousel_highlight">
       <h1><nobr>The Broadcast Data Center<br> is Realized</nobr></h1>
	   IP processing and vertically accurate<br> switching to enable Live Production
       <div class="button-color"><a href="products/gv_node">Learn More</a></div>
     </div>
  </div>
</li><li style="width: 1349px; left: 0px;">
  <div class="hp_slide_bg"> <img src="/static/img/misc/Advanced_Analytics.jpg"></div>
  <div class="hp_slide_content" style="margin-left: 194.5px; margin-right: 194.5px;">
     <div class="carousel_highlight">
       <h1>Find your Path to IP</h1>
       More Agility. More Data. More Flexibility.<br>GET READY.
       <div class="button-color"><a href="ip">Learn More</a></div>
     </div>
  </div>
</li><li style="width: 1349px; left: 0px;">
  <div class="hp_slide_bg"> <img src="/static/img/misc/cloud-computing.jpg"></div>
  <div class="hp_slide_content" style="margin-left: 194.5px; margin-right: 194.5px;">
     <div class="carousel_highlight">
       <h1><nobr>HD... Extreme Speed... 4K?</nobr></h1>
       With Grass Valley Live Production<br>the answer is YES.
       <div class="button-color"><a href="products/k2_dyno_universe">Learn More</a></div>
     </div>
  </div>
</li>

      </ul>
     <a class="hp_carousel_button" id="hp_slideshow_next"></a>
   	</div>
    
  
	<div id="contentarea">
	  
		
<!-- slide show end -->
 </div>
                                <!-- .row -->
                            </div>
                            <!-- .container -->
                        </figcaption>
                    </figure>
                    <!-- End page header -->
                            <div class="section bg-white">
                        <div class="container p-y-xl b-b">
                            <div class="row m-b-md">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="section-tag">Features</div>
                                    <h2 class="h1 display-1 m-t">Listen & Discover in real-time</h2>
                                    <p>TweetZoom can enable users to listen to all twitter conversations based on search keywords (both pre-defined and custom-defined) and discover new relevant users who can influence their products or services in their geography. </p>
                                </div>
                            </div>
                            <!-- .row -->

                            <div class="row text-center">
                                <div class="col-md-4">
                                    <i class="ion-upload text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Cloud based</h4>
                                    <p class="text-muted">TweetZoom is built entirely on opensource and hosted in Microsoft Azure, our technology partner. It can be hosted in any cloud environment or in a private cloud. </p>
                                </div>
                                <div class="col-md-4">
                                    <i class="ion-archive text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Download your data</h4>
                                    <p class="text-muted">With TweetZoom, you have the option to store the relevant tweets in the cloud in MongoDB and also as Excel files for further analysis. </p>
                                </div>
                                <div class="col-md-4">
                                    <i class="ion-pie-graph text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Advanced analytics</h4>
                                    <p class="text-muted">TweetZoom will identify the most influential user, most active user and most mentioned users for a given search keyword. It will also identify the geographical data where available. TweetZoom will detect Emotional state of each tweet.</p>
                                </div>
								<div class="col-md-4">
                                    <i class="ion-upload text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Emotion Analytics </h4>
                                    <p class="text-muted">TweetZoom will detect emotions for each tweet and produce a sophisticated Emotional Analytics with customizable parameters. </p>
                                </div>
								<div class="col-md-4">
                                    <i class="ion-upload text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Public Cloud or Private Cloud</h4>
                                    <p class="text-muted">TweetZoom can be hosted either in public cloud version or enterprises can purchase private cloud version or dedicated public cloud enterprise version. </p>
                                </div>
								<div class="col-md-4">
                                    <i class="ion-upload text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Custom Search or standard </h4>
                                    <p class="text-muted">TweetZoom will continually update industry-standard keywords and users can either use standard keywords or create their own set of keywords.  </p>
                                </div>
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->
					
					 <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 class="h1 display-1 m-b">Cloud based</h2>
                                    <p class="lead m-b-lg">TweetZoom is built entirely on opensource and hosted in Microsoft Azure, our technology partner. It can be hosted in any cloud environment or in a private cloud.</p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <img class="img-responsive" src="img/misc/frontend_home2.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
					 <!-- .section -->

                    <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-push-7 text-center text-md-left">
                                    <h2 class="h1 display-1 m-b">Advanced Analytics</h2>
                                    <p class="lead m-b-lg">TweetZoom will identify the most influential user, most active user and most mentioned users for a given search keyword. It will also identify the geographical data where available. TweetZoom will detect Emotional state of each tweet. </p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View Sample files <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-pull-3">
                                    <img class="img-responsive" src="img/misc/frontend_home3.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 class="h1 display-1 m-b">Emotion Analytics</h2>
                                    <p class="lead m-b-lg">TweetZoom will detect emotions for each tweet and produce a sophisticated Emotional Analytics with customizable parameters.</p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)"><i class="ion-ios-cart m-r-xs"></i> Buy TweetZoom</a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <img class="img-responsive" src="img/misc/frontend_home4.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->
					 <div class="section p-y-xl bg-white hidden-sm hidden-xs">
                        <div class="container">
                            <div class="row m-b-md">
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="img-box">
                                        <img class="img-avatar" src="img/avatars/avatar3.jpg" alt="" />
                                        <div class="img-text">
                                            <h2 class="h2 m-t-0">For Subscription Users</h2>
                                            <p class="m-b">Each subscription user will be assigned a dedicated Microsoft Azure webapp account or a dedicated VM / Docker. </p>
                                            <a href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- .img-box -->
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="img-box">
                                        <img class="img-avatar" src="img/avatars/avatar5.jpg" alt="" />
                                        <div class="img-text">
                                            <h2 class="h2 m-t-0">For Enterprise Clients</h2>
                                            <p class="m-b">TweetZoom can be implemented either in a dedicated Virtual Machine (VM) or in a private cloud environment. </p>
                                            <a href="javascript:void(0)">Take a tour <i class="ion-ios-arrow-right m-l-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- .img-box -->
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-app bg-inverse">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <h2 class="h1 display-1">Try it for free</h2>
                                    <p class="lead">TweetZoom's full-feature trial version is available for free for upto 6000 tweets (local file save disabled). Sign up for free to go for a test run.</p>
                                </div>
                            </div>
                            <!-- .row -->
                            <div class="row p-t-md p-b-lg">
                                <div class="col-md-10 col-md-offset-1">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputName2">Name</label>
                                            <input type="text" class="form-control input-lg" id="exampleInputName2" placeholder="Your name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email</label>
                                            <input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="email@example.com" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPass">Password</label>
                                            <input type="password" class="form-control input-lg" id="exampleInputPass" placeholder="Password" />
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-default btn-lg">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->
 </main>

                <footer class="app-layout-footer">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                            <a href="http://quantumventura.com" target="_blank" rel="nofollow">Purchase a license</a>
                        </div>
                        <div class="pull-left text-center text-md-left">
                            Quantum Ventura Inc &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps card -->
                    <div class="card m-b-0">
                        <div class="card-header bg-app bg-inverse">
                            <h4>Apps</h4>
                            <ul class="card-actions">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="profile.ejs">
                                        <i class="ion-speedometer fa-4x"></i>
                                        <p>Admin</p>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.ejs">
                                        <i class="ion-laptop fa-4x"></i>
                                        <p>Frontend</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- End Apps card -->
                </div>
            </div>
        </div>
        <!-- End Apps Modal -->
		<!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>	
		<script type="text/javascript" src="/static/js/combined.min.js"></script>
		
		<script src="/static/js/core/bootstrap.min.js"></script>
        <script src="/static/js/core/jquery.slimscroll.min.js"></script>
        <script src="/static/js/core/jquery.scrollLock.min.js"></script>
        <script src="/static/js/core/jquery.placeholder.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/app-custom.js"></script>

    </body>

</html>
