<!DOCTYPE html>
<!-- saved from url=(0039)https://twitterplay1.azurewebsites.net/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TweetZoom!</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h2><span class="logo"><img src="Graphic2.png" width="40" height="40" alt="" /></a></span></span> TweetZoom 1.0</h2>
        <!-- <p>Login or Register with:</p>
        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a> -->
        <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        <!-- <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> -->
        <a href="https://twitterplay1.azurewebsites.net/auth/twitter" class="btn btn-primary" [iframe]=""><span class="fa fa-twitter"></span> Login using Twitter   </a>
    </div>

</div>
</body>
</html>

