<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Twitter Stream</h3>
        <strong>TZ</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="ion-ios-speedometer-outline"></i>
                Dashboard
            </a>
            <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="profile">Profile</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul> -->
        </li>
        <li>
            <a href="liveTweetsHistory" target="_blank">
                <i class="fa fa-history" aria-hidden="true"></i>
                Historical Tweets
            </a>
        </li>
        <li>
            <a href="auditLogs" target="_blank">
                <i class="fa fa-user" aria-hidden="true"></i>
                Audit Logs
            </a>
        </li>
        <li>
            <a href="https://www.quantumventura.com/#connect" target="_blank">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Contact
            </a>
        </li>
    </ul>
</nav>
